.place__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 65px;
  width: 46.7%;
  margin: 0 43px 0 0;
  text-align: left;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 900px) {
  .place__title {
    font-size: 55px;
    line-height: 56px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
  }
}