@import url('../comments-item/__img/comments-item__img.css');
@import url('../comments-item/__quote/comments-item__quote.css');
@import url('../comments-item/__author/comments-item__author.css');

.comments-item {
  width: calc(90%/3);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .comments-item {
    width: 100%;
    min-width: 288px;
    max-width: 382px;
  }
}
