.comments-item__quote {
  margin: 42px 0 24px;
  font-size: 14px;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .comments-item__quote {
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0 47px;
    order: 3; 
  }
}

@media screen and (max-width: 768px) {
  .comments-item:nth-child(3) .comments-item__quote {
    margin-bottom: 0;
  }
}


  /* .comments-item:nth-child(1) .comments-item__quote::before{
    content: 'Виктор Лягушкин';
  }

  .comments-item:nth-child(2) .comments-item__quote::before{
    content: 'Иван Хафизов';
  }

  .comments-item:nth-child(3) .comments-item__quote::before{
    content: 'Сергей Максимишин';
  } 
} */