.cover__text {
  text-align: center;
  max-width: 382px;
  font-size: 18px;
  line-height: 26px;
  margin: 10% auto 0%;
  color: #ffffff;
}

.cover__text:hover {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .cover__text {
    margin-top: 8%;
  }
}

@media screen and (max-width: 945px) {
  .cover__text {
    margin-top: 7.8%;
  }
}


@media screen and (max-width: 768px) {
  .cover__text {
    margin-top: 7.8%;
  }
}

@media screen and (max-width: 650px) {
  .cover__text {
    font-size: 16px;
    line-height: 19px;
  }
}

@media screen and (max-width: 550px) {
  .cover__text {
    font-size: 14px;
    line-height: 17px;
    margin-top: 5.5%;
    padding: 0 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover__text {
    font-size: 14px;
    line-height: 17px;
    margin-top: 4.3%;
  }
}