.place__bottom {
  display: flex;
  margin: 0 auto;
  align-items: flex-start;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .place__bottom {
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .place__bottom {
    max-width: 720px;
  }
}

@media screen and (max-width: 500px) {
  .place__bottom {
    display: block;
  }
}