.video-item_theme_kamchatka {
  background-image: url('../../../static/images/kamchatka.jpg');
}

@media screen and (max-width: 1190px) {
  .video-item_theme_kamchatka {
    background-image: url('../../../static/images/kamchatka-1024.jpg');
  }
}

@media screen and (max-width: 950px) {
  .video-item_theme_kamchatka {
    background-image: url('../../../static/images/kamchatka-768.jpg');
  }
}

@media screen and (max-width: 750px) {
  .video-item_theme_kamchatka {
    background-image: url('../../../static/images/kamchatka-425.jpg');
  }
}

@media screen and (max-width: 320px) {
  .video-item_theme_kamchatka {
    background-image: url('../../../static/images/kamchatka-320.jpg');
  }
}